/* FONTS */

body {
    -webkit-font-smoothing: antialiased;
}

h1,h2,h3 {
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    color: var(--c-text);
}

h1 {
    font-size: 1.65rem;
    letter-spacing: -2px;
    font-weight: 900;
    line-height: .15;
}

@media (min-width: 950px) {
    h1 {
        font-size: 2rem;
    }
}

@media (min-width: 1280px) {
    h1 {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: .8rem;
    line-height: 1;
    margin-bottom: 0px;
}

@media (min-width: 950px) {
    h2 {
        font-size: 1rem;
    }
}

b1,b2,b3 {
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    color: var(--c-text);
}

b1 {
    font-size: .75rem;
    line-height: 1.1;
}

@media (min-width: 950px) {
    b1 {
        font-size: .9rem;
    }
}

a {
    color: inherit;
    text-decoration: none;
    cursor: none; 
    
}

ol,ul,li {
    list-style: none;
    padding-left: 0;
}

/* FONTS */

/* ANIMATIONS */

.animate {
    animation-duration: .5s;
}

.animate.animate--duration-30ms {
    animation-duration: 3s;
}

.animate.animate--duration-10ms {
    animation-duration: 1s;
}


.animate.animate--delay-1 {
    animation-delay: 3.5s;
}   

.animate.animate--delay-2 {
    animation-delay: 4.5s;
}

.animate.animate--delay-3 {
    animation-delay: 6s;
}

.animate.animate--delay-4 {
    animation-delay: 6.2s;
}

.animate.animate--delay-5 {
    animation-delay: 6.4s;
}

.animate.animate--delay-6 {
    animation-delay: 6.6s;
}

.animate.animate--delay-7 {
    animation-delay: 6.8s;
}

.animate.animate--delay-8 {
    animation-delay: 7s;
}

.animate.animate--delay-9 {
    animation-delay: 7.2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-fill-mode: both;
}

.hoverOpacity {
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.1, 0.4, 0.2, 1);
}

.hoverOpacity:hover {
    opacity: 0.25;
}


@keyframes hoverSpacingIn {
    from {
        letter-spacing: normal;
    }
    to {
        letter-spacing: 3px;
    }
}

@keyframes hoverSpacingOut {
    from {
        letter-spacing: 3px;
    }
    to {
        letter-spacing: normal;
    }
}

.hoverSpacing {
    animation-name: hoverSpacing;
    animation-fill-mode: both;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

.hoverSpacing:hover {
    animation: hoverSpacingIn 0.3s forwards;
}

.hoverSpacing:not(:hover) {
    animation: hoverSpacingOut 0.3s forwards;
}


@keyframes hoverBgIn {
    from {
        color: var(--c-text);
    }
    to {
        background-color: var(--c-text);
        color: var(--c-bg);
    }
}

@keyframes hoverBgOut {
    from {
        background-color: var(--c-text);
        color: var(--c-bg);
    }
    to {
        color: var(--c-text);
    }
}

.hoverBg {
    animation-name: hoverBg;
    animation-fill-mode: both;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

.hoverBg:hover {
    animation: hoverBgIn 0.3s forwards;
}

.hoverBg:not(:hover) {
    animation: hoverBgOut 0.3s forwards;
}


@keyframes hoverCursorIn {
    from {
        transform: translate(-50%, -50%) scale(1);
    }

    to {
        transform: translate(-50%, -50%) scale(3);
    }
}

@keyframes hoverCursorOut {
    from {
        transform: translate(-50%, -50%) scale(3);
    }

    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

.hoverCursor {
    animation-name: hoverCursor;
    animation-fill-mode: both;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

.hoverCursor:hover .cursor {
    animation: hoverCursorIn 0.3s forwards;
}

.hoverCursor:not(:hover) .cursor{
    animation: hoverCursorOut 0.3s forwards;
}

/* ANIMATIONS */

/* VAR */

:root {
    --c-bg: hsl(0, 0%, 10%);
    --c-text:  hsl(0, 0%, 90%);
    --pad: max(20px, 2vw);
    --marg: 1vh;
}

/* VAR */

/* BODY */

#Body {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--c-bg);
}

/* BODY */

/* BACKGROUND */

#Background:after {
    animation: grain 10s steps(10) infinite;
    background-image: url(../img/background/noise2.png);
    content: "";
    height: 300%;   
    left: -50%;
    opacity: 0.5;
    position: fixed;
    top: -110%;
    width: 300%;
}

@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
}

/* BACKGROUND */

/* COLUMNS */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    height: 100vh;
    position: relative;
    padding-left: 2vw;
    padding-right: 2vw;
}

@media (min-width: 480px) {
    .container {
        grid-template-columns: 2fr 3fr;
        padding-left: var(--pad);
        padding-right: var(--pad);
    }
}

@media (min-width: 700px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1025px) {
    .container {
        grid-template-columns: 2fr 4fr;
    }
}

/* .column {
    border: 1px solid #b92727;
} */

.column-1 {
    overflow: hidden;
    position: relative;
}

.column-2 {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
  
/* COLUMNS */

/* PAGE */

.page {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.active {
    opacity: 1;
}

/* PAGE */

/* CURSOR */

body {
    cursor: none;
}

.cursor, .larger-cursor {
    position: fixed;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 1000;
    transition: transform 0.2s ease-out;
    transform: translate(-50%, -50%);
}

.cursor {
    width: 10px;
    height: 10px;
}

.larger-cursor {
    width: 50px; 
    height: 50px; 
}

/* CURSOR */

/* ARROWS */

.top-right-arrow::after {
    content: "\2197 \FE0E"; /* Unicode for the top right arrow with Text Presentation */
}
  
.left-arrow::after {
    content: "\2190 \FE0E"; /* Unicode for the left arrow with Text Presentation */
}
  
/* ARROWS */

/* HEADER */

#Header {
    position: absolute;
    left: 0px;
    padding-top: 20vh;
}

@media (min-width: 480px) {
    #Header {
        left: auto;
        right: 0px
    }
}

#Header-title {
    display: block;
}

@media (min-width: 700px) {
    #Header-title {
        display: flex;
    }
    #Header-title h1 {
        margin-right: .5rem;
    }
}

#Header-description {
    padding-top: 0;
}

@media (min-width: 700px) {
    #Header-description {
        margin-top: -5px;
    }
}

#Header-nav {
    padding-top: 7vh;
}

#Header-nav ol {
    display: flex;
    flex-direction: column;
}

/* HEADER */

/* LANGUAGE */

.lang-pt {
    display: none;
}

.lang-en {
    display: block;
}

@media (min-width: 700px) {
    .lang_item-1 {
        right: 10vw;
        top: 10vh;
    }
}

/* LANGUAGE */

/* CONTENT */

@media (max-width: 699px) {
    .content {
        position: absolute;
        right: 0;
        top: 0;
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: var(--pad);
    }
}

@media (min-width: 700px) {
    .content {
        position: relative;
        right: auto;
    }
}

.content_item {
    position: relative;
    max-width: 20ch;
    text-align: right;
    overflow-wrap: break-word;
}

@media (min-width: 700px) {
    .content_item {
        position: absolute;
        text-align: left;
        max-width: 25ch;
    }
}

@media (min-width: 1025px) {
    .content_item {
        max-width: 35ch;
    }
}

.content_item b1 {
    display: block;
}

/* CONTENT */

/* LOADING SCREEN */

#LoadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#progressText {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 100;
    color: var(--c-text);
    margin-top: 0vh;
}

/* LOADING SCREEN */

/* EXPLORE */

@media (max-width: 699px) {
    .explore_item-1 {
        padding-top: 45vh;
    }
}

@media (min-width: 700px) {
    .explore_item-1 {
        left: 25vw;
        top: 45vh;
    }
}

/* EXPLORE */

/* WHOAMI */

@media (max-width: 699px) {
    .whoami {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (min-width: 700px) {
    .whoami_item-1 {
        right: 5vw;
        top: 40vh;
    }
}

@media (min-width: 950px) {
    .whoami_item-1 {
        right: 5vw;
        top: 70vh;
    }
}

@media (min-width: 700px) {
    .whoami_item-2 {
        left: 25vw;
        top: 20vh;
    }
}

/* WHOAMI */

/* PROJECTS */

@media (max-width: 699px) {
    .projects {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (min-width: 700px) {
    .projects_item-1 {
        right: 50%;
        top: 30vh;
    }
}

/* PROJECTS */

/* EXPERIENCE */

.exp_title {
    padding-bottom: calc(var(--marg) / 2);
}

.exp_year {
    padding-bottom: calc(var(--marg) / 2);
}

.exp li {
    padding-bottom: var(--marg);
}

@media (max-width: 699px) {
    .exp {
        padding-top: 5vh;
    }
}

@media (min-width: 700px) {
    .exp_item-1 {
        top: 40vh;
        left: 2vw;
    }
}

@media (min-width: 950px) {
    .exp_item-1 {
        left: 8vw;
    }
}

@media (min-width: 1025px) {
    .exp_item-1 {
        left: 15%;
    }
}


@media (min-width: 700px) {
    .exp_item-2 {
        top: 15vh;
        right: 2vw;
    }
}

@media (min-width: 950px) {
    .exp_item-2 {
        right: 10vw;
    }
}

@media (min-width: 1025px) {
    .exp_item-2 {
        left: 55%;
    }
}

/* EXPERIENCE */

/* CONTACT */


@media (max-width: 699px) {
    .contact {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.contact_title {
    padding-bottom: var(--marg);
}

@media (min-width: 700px) {
    .contact_item-1 {
        top: 20vh;
        left: 5vw;
        overflow-wrap: normal;
        white-space: nowrap;
    }
}

@media (min-width: 700px) {
    .contact_item-2 {
        top: 50vh;
        right: 10vw;
        overflow-wrap: normal;
        white-space: nowrap;
    }
}

/* CONTACT */
